@import './base.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: var(--p-slate-950);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* GLOBAL START */
main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--content-font);
  overflow: hidden;
}

/* INTRO SECTION START */
.intro-section {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}
.intro-section-wrapper {
  width: 100%;
}

/* GRADIENT START */
.gradient {
  -webkit-animation: gradient 7s ease infinite;
  animation: gradient 7s ease infinite;
  background: -o-linear-gradient(135deg, rgb(var(--primary-color)), rgb(var(--secondary-color)));
  background: linear-gradient(-45deg, rgb(var(--primary-color)), rgb(var(--secondary-color)));
  background-size: 400% 400%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* GRADIENT END */

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* REVEAL START */
.reveal {
  opacity: 0;
  position: relative;
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.reveal.active {
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* REVEAL END */

/* HR / SEPARATORS START */
hr {
  border: 0.1px solid;
  color: rgba(var(--white-color), 1);
  z-index: 3;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
hr.quater {
  margin: var(--grid-gap-3) 0 !important;
}
hr:not(hr.semi) {
  margin: 60px 0;
}
.semi {
  margin: var(--grid-gap-3) 0;
  opacity: 0 !important;
}
#homepage hr.bodyxfooter {
  display: none;
}
/* HR / SEPARATORS END */

/* BROWSER SETTINGS START */
::-webkit-scrollbar {
  width: var(--grid-gap-1);
}
::-webkit-scrollbar-track {
  background: rgba(var(--primary-color), 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-color), 0.4);
  border-radius: 0;
}
::-moz-selection {
  background: rgba(var(--primary-color), 0.4);
}
::selection {
  background: rgba(var(--primary-color), 0.4);
}
/* BROWSER SETTINGS END */

/* TEXT START */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--white-color));
  position: relative;
  line-height: normal;
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
}
h3 {
  font-size: var(--font-size-3);
}
h4 {
  font-size: var(--font-size-4);
}
h5 {
  font-size: var(--font-size-5);
}
h6 {
  font-size: var(--font-size-6);
}
p {
  font-size: var(--font-size-6);
  margin: var(--grid-gap-1) 0;
}
footer,
span.date {
  font-size: var(--font-size-7);
}
h1:before,
h2:before {
  cursor: text;
}
main li,
main ol,
main ul,
p {
  color: rgb(var(--white-color));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font-size-6);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-1);
}
main ul {
  list-style-type: circle;
}
main ol {
  list-style-type: decimal;
}
main li {
  padding-top: 5px;
}
.highlited {
  color: rgba(var(--primary-color), 1);
}
main ul,
main ol {
  margin-left: var(--grid-gap-3);
}
.visually-hidden {
  z-index: -9999999;
  font-size: 0.1px !important;
}
/* LINK START */
a,
a:hover {
  cursor: pointer !important;
  text-decoration: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
i a,
main li a,
p a,
.current,
.author span {
  -webkit-box-shadow:
    inset 0 -2px 0 rgba(var(--primary-color), 0.8),
    0 0 0 rgba(var(--primary-color), 0.5);
  box-shadow:
    inset 0 -2px 0 rgba(var(--primary-color), 0.8),
    0 0 0 rgba(var(--primary-color), 0.8);
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  -webkit-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
i a:hover,
main li a:hover,
p a:hover,
a p:hover,
.current:hover,
.author span:hover {
  -webkit-box-shadow:
    inset 0 -30px 0 rgb(var(--secondary-color)),
    0 2px 0 rgba(var(--primary-color), 0.8);
  box-shadow:
    inset 0 -30px 0 rgba(var(--secondary-color), 0.8),
    0 2px 0 rgba(var(--primary-color), 0.8);
  text-decoration: none;

  -webkit-transition: var(--transition-1);

  -o-transition: var(--transition-1);

  transition: var(--transition-1);
}
/* LINK END */

/* TEXT END */

/* WRAPPER START */
.wrapper-narrow,
.wrapper-standard,
.wrapper-wide,
hr {
  max-width: 100%;
}
.wrapper-standard,
.wrapper-standard hr {
  width: 600px !important;
}
.wrapper-wide,
.wrapper-wide hr {
  width: 947px;
}
.wrapper-narrow {
  width: 336px;
}
/* WRAPPER END */

/* IMG, IFRAME, SVG START */
iframe,
img,
svg {
  vertical-align: middle;
}
iframe,
img {
  border-radius: 0;
  border: none;
  height: 100%;
  width: 100%;
}
lite-vimeo {
  border-radius: var(--border-radius-1);
  aspect-ratio: 16/9;
  width: 100%;
}
small a {
  color: rgb(var(--white-color)) !important;
}
.row img {
  height: unset;
  width: unset;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.column {
  -ms-flex: 50%;
  -webkit-box-flex: 50%;
  flex: 50%;
  max-width: 50%;
  margin-top: calc(-1 * (var(--grid-gap-1)));
}
.column img {
  margin-top: var(--grid-gap-1);
  vertical-align: middle;
  width: 100%;
  background-color: rgb(var(--dark-grey-color));
  border-radius: var(--border-radius-1);
}
.column:nth-child(2) {
  padding-left: var(--grid-gap-1);
  padding-right: calc(var(--grid-gap-1) / 2);
}
.column:nth-child(3) {
  padding-right: var(--grid-gap-1);
  padding-left: calc(var(--grid-gap-1) / 2);
}

@media only screen and (min-width: 600px) {
  .column {
    -ms-flex: 25%;
    -webkit-box-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}
/* IMG, IFRAME, SVG END */

/* BUTTON START */
.cta,
button.submit-btn {
  line-height: var(--grid-gap-2);
  background-color: rgba(var(--secondary-color), 1);
  padding: var(--grid-gap-1) var(--grid-gap-2);
  color: rgba(var(--white-color), 1);
  border-radius: var(--border-radius-2);
  margin-top: var(--grid-gap-2) !important;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: var(--font-size-7);
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
  white-space: nowrap;
  border: 2px solid rgba(var(--secondary-color), 1);
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  text-decoration: none !important;
}

.cta:hover,
button.submit-btn:hover,
.button:hover {
  background-color: rgba(var(--secondary-color), 0.8);
  border: 2px solid rgba(var(--secondary-color), 0.1);
  text-decoration: none !important;
}
.cta,
.cta:hover,
button.submit-btn:hover,
button.submit-btn {
  -webkit-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
}
.cta.cta2 {
  background-color: rgba(var(--secondary-color), 0);
}
.cta.cta2:hover {
  background-color: rgba(var(--secondary-color), 1);
}
.cta.secondary {
  background-color: transparent;
}
.cta.secondary:hover {
  background-color: rgba(var(--secondary-color), 0.8);
}
lite-vimeo:hover > .ltv-playbtn {
  background-color: rgb(var(--primary-color)) !important;
  opacity: 1;
}
/* CTA END */

/* ICONS START */
i {
  color: rgb(var(--white-color));
  font-size: var(--grid-gap-2);
}
i:hover,
.mfp-close:hover {
  color: rgb(var(--primary-color));
}
i,
i:hover,
.mfp-close,
.mfp-close:hover {
  -o-transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  cursor: pointer;
  -webkit-transition: var(--transition-1);
}
.bubble.pi:hover,
i.pi-arrow-right:hover {
  color: rgb(var(--white-color)) !important;
}
.pi-arrow-right {
  margin-left: 5px;
  font-size: inherit;
  color: inherit;
}
.bubble {
  background-color: rgba(var(--primary-color), 0.3);
  -webkit-backdrop-filter: var(--blur-1);
  backdrop-filter: var(--blur-1);
  color: rgb(var(--white-color));
  padding: var(--grid-gap-1);
  border-radius: var(--border-radius-2);
  margin-bottom: var(--grid-gap-1);
}
/* ICONS END */
.note {
  font-size: var(--font-size-8);
  position: absolute;
  text-decoration: none;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
  z-index: 8;
  padding: 0;
  border-radius: var(--border-radius-1);
  bottom: var(--grid-gap-1);
  right: var(--grid-gap-1);
}

/* MEDIA QERRIES START */
@media only screen and (min-width: 310px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 1020px) {
  :root {
    --nav-bar-top-position: 50px;
    --homepage-padding: var(--grid-gap-2);
    --menu-padding: 0 var(--homepage-padding);
  }
  .wrapper-narrow,
  .wrapper-standard,
  .wrapper-wide,
  .popup-gallery {
    padding-left: var(--homepage-padding);
    padding-right: var(--homepage-padding);
  }
}
/* MEDIA QERRIES END */
