@import './base.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: var(--p-slate-950);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* GLOBAL START */

/* GRADIENT START */
.gradient {
  -webkit-animation: gradient 7s ease infinite;
  animation: gradient 7s ease infinite;
  background: -o-linear-gradient(135deg, var(--p-indigo-900), var(--p-rose-900));
  background: linear-gradient(-45deg, var(--p-indigo-900), var(--p-rose-900));
  background-size: 4000% 4000%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* GRADIENT END */

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* REVEAL START */
.reveal {
  opacity: 0;
  position: relative;
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.reveal.active {
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* REVEAL END */

/* HR / SEPARATORS START */
hr {
  border: 0.1px solid;
  color: rgba(var(--white-color), 0.5);
  z-index: 3;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
hr.quater {
  margin: var(--grid-gap-3) 0 !important;
}
hr:not(hr.semi) {
  margin: 60px 0;
}
.semi {
  margin: var(--grid-gap-3) 0;
  opacity: 0 !important;
}
/* HR / SEPARATORS END */

/* BROWSER SETTINGS START */
::-webkit-scrollbar {
  width: var(--grid-gap-1);
}
::-webkit-scrollbar-track {
  background: rgba(var(--primary-color), 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-color), 0.4);
  border-radius: 0;
}
::-moz-selection {
  background: rgba(var(--primary-color), 0.4);
}
::selection {
  background: rgba(var(--primary-color), 0.4);
}
/* BROWSER SETTINGS END */

/* TEXT START */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--white-color));
  position: relative;
  line-height: normal;
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
}
h3 {
  font-size: var(--font-size-3);
}
h4 {
  font-size: var(--font-size-4);
}
h5 {
  font-size: var(--font-size-5);
}
h6 {
  font-size: var(--font-size-6);
}
p {
  font-size: var(--font-size-6);
}

h1:before,
h2:before {
  cursor: text;
}
main li,
main ol,
main ul,
p {
  color: rgb(var(--white-color));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font-size-6);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-1);
  margin: var(--grid-gap-1) 0;
}
main ul {
  list-style-type: circle;
}
main ol {
  list-style-type: decimal;
}
main li {
  padding-top: 5px;
}
.highlited {
  color: rgba(var(--primary-color), 1);
}

.visually-hidden {
  z-index: -9999999;
  font-size: 0.1px !important;
}
/* LINK START */
a,
a:hover {
  cursor: pointer !important;
  text-decoration: none;
  color: var(--p-blue-500);
}

p a:hover,
li a:hover {
  text-decoration: underline;
}
/* LINK END */

/* TEXT END */

/* WRAPPER START */

/* WRAPPER END */

/* IMG, IFRAME, SVG START */
iframe,
img,
svg {
  vertical-align: middle;
}
iframe,
img {
  border-radius: 0;
  border: none;
  height: 100%;
  width: 100%;
}

/* IMG, IFRAME, SVG END */

/* ICONS START */
.pi-arrow-right {
  margin-left: 5px;
  font-size: inherit;
  color: inherit;
}
.bubble {
  background-color: rgba(var(--primary-color), 0.3);
  -webkit-backdrop-filter: var(--blur-1);
  backdrop-filter: var(--blur-1);
  color: rgb(var(--white-color));
  padding: var(--grid-gap-1);
  border-radius: var(--border-radius-2);
  margin-bottom: var(--grid-gap-1);
}
/* ICONS END */
.note {
  font-size: var(--font-size-8);
  text-decoration: none;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
  z-index: 8;
  padding: 0;
  border-radius: var(--border-radius-1);
  text-align: center;
}

/* MEDIA QERRIES START */

@media only screen and (max-width: 1020px) {
  :root {
    --nav-bar-top-position: 50px;
    --homepage-padding: var(--grid-gap-2);
    --menu-padding: 0 var(--homepage-padding);
  }
  .wrapper-wide,
  .intro-section {
    padding-left: var(--homepage-padding);
    padding-right: var(--homepage-padding);
  }
}
/* MEDIA QERRIES END */
